/* Slide animations */
.slide-left-enter-right {
  animation: slideLeftEnterRight 1s ease forwards;
}

@keyframes slideLeftEnterRight {
  50% {
    opacity: 0;
    transform: translateX(-25%);
  }
  51% {
    display: none;
    transform: translateX(25%);
  }
  52% {
    display: block;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slide-right-enter-left {
  animation: slideRightEnterLeft 1s ease forwards;
}

@keyframes slideRightEnterLeft {
  50% {
    opacity: 0;
    transform: translateX(25%);
  }
  51% {
    display: none;
    transform: translateX(-25%);
  }
  52% {
    display: block;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}