$black: #1D1D1D;
$grey: #808080;
$lightgrey: #F2F2F2;


$blue: #2D41F9;
$rose-blue: #6C59FA;
$rose: #DE85FD;
$light-rose: #9C6CFC;

$primary: linear-gradient(135deg, $blue, $rose);
$primary-dark: linear-gradient(135deg, darken($blue, 10), darken($rose, 10));

$text-primary: $black;
$text-secondary: $grey;

$border-primary: $grey;


.text-primary {
  background: $primary;
  background-clip: text;
  -webkit-background-clip: text;
  background-blend-mode: hard-light;
  color: transparent;
}