// BREAKPOINTS
$mobile-breakpoint: 860px;
$minimobile-breakpoint: 360px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

main {
  max-width: 77%;
  padding-top: 5rem;
  margin: 0 auto;
}

// Colors
.text-primary {
  background: $primary;
  background-clip: text;
  -webkit-background-clip: text;
  background-blend-mode: hard-light;
  color: transparent;
}

// Buttons
button {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  -webkit-appearance: none;
  background: #fff;
  color: $text-primary;
  font-family: "Hind";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0.875rem 1.25rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: ease all 0.3s;

  &:hover {
    background: $grey;
  }

  &.btn {
    &.btn-primary {
      background: $primary;
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        z-index: -100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-dark;
        background-size: 100%;
        border-radius: inherit;
        opacity: 0;
        transition: 0.3s ease opacity;
      }

      &:hover::before {
        opacity: 1;
      }
    }

    &.btn-primary__fill {
      background-color: transparent;
      color: $dark-violet;
      border: 1px solid $dark-violet;
      transition: 0.3s ease all;

      &:hover {
        box-shadow: 0 0 0 1px $dark-violet inset;
      }
    }

    &.btn-thin {
      font-weight: 300;
    }

    &.btn-medium {
      font-weight: 500;
    }

    &.btn-semibold {
      font-weight: 600;
    }

    &.btn-bold {
      font-weight: 700;
    }

    &.btn-rounded {
      border-radius: 0.3125rem;

      &__big {
        border-radius: 0.5rem;
      }
    }
  }

  @media (max-width: 340px) {
    padding: 0.875rem;
  }
}

// Headers and typography
.h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.75rem;

  @media (max-width: $mobile-breakpoint) {
    font-size: 2.5rem;
    line-height: 100%;
  }
}

.h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
}

.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 2rem;
}

.h4 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
}

.h5 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;

  @media (max-width: $mobile-breakpoint) {
    font-weight: 300;
  }
}

.h6 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
}

.subtitle {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.link {
  transition: 0.3s ease all;

  &:hover {
    transform: translateX(10px);
  }
}

.highlighted {
  background-image: $primary;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

a.highlighted {
  text-decoration: none;

  &:active,
  &:focus,
  &:visited,
  &:hover {
    color: transparent;
  }
}

.highlighted-underlined {
  position: relative;
  background-image: $primary;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.125rem;
    background: $primary;
    transition: 0.3s ease all;
  }

  &:hover::after {
    width: 100%;
  }
}

// Inputs
.input-container {
  input,
  textarea {
    display: block;
    width: 100%;
    height: 100%;
  }
}

textarea {
  background: $primary, linear-gradient(white, white), $primary;
  background-origin: border-box;
  -webkit-background-clip: text, padding-box, border-box;
  color: transparent;
  caret-color: $pink;
  font-family: "Hind";
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.875rem;
  border: solid 1px transparent;
  border-radius: 0.3125rem;
  outline: none;
  resize: none;

  &::placeholder {
    background: $primary;
    -webkit-background-clip: text;
    color: transparent;
  }
}

input {
  // position: relative;
  background: $primary, linear-gradient(white, white), $primary;
  background-origin: border-box;
  -webkit-background-clip: text, padding-box, border-box;
  color: transparent;
  -webkit-text-fill-color: transparent;
  caret-color: $pink;
  font-family: "Hind";
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.875rem;
  border: solid 1px transparent;
  border-radius: 0.3125rem;
  outline: none;

  &::placeholder {
    background: $primary;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

span {
  // HORIZONTAL SEPARATOR
  &.hr {
    width: 100%;
    height: 0.06125rem;
    display: block;
    background: $lightgrey;
  }

  // LINE BREAK HELPERS
  &.br {
    display: block;

    &.desktop-only {
      @media (min-width: 860px) {
        display: block;
      }

      @media (max-width: 860px) {
        display: none;
      }
    }

    &.mobile-only {
      @media (min-width: 860px) {
        display: none;
      }

      @media (max-width: 860px) {
        display: block;
      }
    }
  }
}

// Loading bar
.nuxt-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  width: 0%;
  opacity: 1;
  transition: width 0.1s, opacity 0.4s;
  background: $primary;
  z-index: 999999;
}